*{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box}
html{color:#333;font-size:16px}
body{background-color:#f5f3f0;min-height:100vh;font-family:"Open Sans",sans-serif}
a{text-decoration:none;color:#333}
.primary{display:inline-block;border:0;min-height:40px;position:relative;max-width:100%;cursor:pointer;-webkit-transition:.2s ease all;-o-transition:.2s ease all;transition:.2s ease all;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);background-color:#ff8c00;border-radius:.3125rem;height:3.125rem;font-weight:700;color:#fff;letter-spacing:0;text-align:center;line-height:1.25rem;margin-top:1.25rem;text-decoration:none;font-size:.875rem;padding:.9375rem}

/* Header */
header{-webkit-box-shadow:0 2px 8px 0 rgba(0,0,0,0.15);box-shadow:0 2px 8px 0 rgba(0,0,0,0.15);background:#fff}
.header_top{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 15px;height:50px}
.logo{display:-webkit-box;display:-ms-flexbox;display:flex}
.logo img{height:20px;width:64px}
.header_links{display:-webkit-box;display:-ms-flexbox;display:flex;gap:30px}
.header_links a{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
header svg{width:24px;height:24px;-o-object-fit:cover;object-fit:cover}
.header_bottom{display:-webkit-box;display:-ms-flexbox;display:flex;border-top:1px solid #cdcdcd}
.header_bottom form{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:calc(100% - 130px);padding:0 15px}
.header_bottom form input{border:none;font-size:1rem;line-height:3.125rem;padding:0 33px;font-weight:500;width:100%}
.header_bottom form input::-webkit-input-placeholder{color:#bababa}
.header_bottom form input::-moz-placeholder{color:#bababa}
.header_bottom form input:-ms-input-placeholder{color:#bababa}
.header_bottom form input::-ms-input-placeholder{color:#bababa}
.header_bottom form input::placeholder{color:#bababa}
.header_bottom form .fa-magnifying-glass{position:absolute;left:15px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.header_bottom form .fa-barcode{position:absolute;right:15px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.cart{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:128px;border-left:1px solid #cdcdcd}
.sortiment{text-transform:uppercase;font-size:10px;color:#ff8c00;margin-top:5px}
header i{color:#ff8c00;font-size:18px}

/* Slider */
.slider{margin-bottom:30px}
.slider img{width:100%;height:366px;-o-object-fit:cover;object-fit:cover}
.gift{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;gap:10px;background-color:#40535E;padding:15px}
.gift_icon{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;min-width:30px;height:30px;border-radius:50%;background-color:#fff}
.gift p{font-size:16px;line-height:1.25rem;font-weight:700;color:#fff}

/* Banner */
.banner{padding:.9375rem .9375rem 1.5625rem;margin:.9375rem .9375rem 0;background:#fff;border-radius:.3125rem;border-top:.3125rem solid #ff8c00;display:-ms-flexbox;display:-webkit-box;display:flex;-ms-flex-direction:column;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column;-ms-flex-align:center;-webkit-box-align:center;align-items:center}
.banner h3{font-size:1.75rem;font-weight:800;letter-spacing:0;text-align:center;margin-bottom:10px}

/* Categories */
.tags{margin-top:45px;padding:0 15px}
.tags_list{list-style:none;padding:0;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;gap:15px}
.tags_list li{font-weight:700;line-height:1.25rem;background:#fff;border-radius:.3125rem}
.tags_list li:nth-child(2){margin-right:30px}
.tags_list li a{display:inline-block;padding:.3125rem .9375rem;font-size:.875rem;line-height:1.25rem}

/* Posts */
.posts{margin:35px auto 40px;padding:0 15px}
.posts h2{font-size:1.75rem;font-weight:800;letter-spacing:0;line-height:1.875rem;margin:0 0 1.25rem .9375rem}
.posts_list{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;gap:10px}
.post_item{display:block;background-color:#fff;position:relative;border-radius:.3125rem;text-decoration:none;overflow:hidden}
.post_image{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;height:50%}
.post_image img{width:100%;height:100%;-o-object-fit:cover;object-fit:cover}
.post_content{display:block;padding:1.5625rem 1.5625rem 1.875rem;word-break:break-word}
.post_title{display:block;font-weight:700;font-size:1.25rem;line-height:1.875rem;margin-bottom:.9375rem}

/* Categories */
.categories{margin-bottom:40px;padding:0 15px}
.categories h2{font-size:1.75rem;font-weight:800;letter-spacing:0;line-height:1.875rem;margin:0 0 1.25rem .9375rem}
.categories_block{background-color:#fff;position:relative;border-radius:.3125rem;display:block;text-decoration:none;margin-bottom:.625rem;overflow:hidden}
.categories_image{width:100%;height:200px}
.categories_image img{width:100%;height:100%;-o-object-fit:cover;object-fit:cover}
.categories_content{padding:0 25px 80px}
.categories_heading{font-size:20px;line-height:30px;font-weight:700;margin-bottom:45px}
.categories_list{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;gap:14px;list-style:none;padding:0;margin:0}
.categories_list li a{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;gap:15px;font-size:1rem;letter-spacing:0;line-height:1.875rem;font-weight:600}
.categories_list li a i{color:#ff8c00}

/* Newsletter */
.newsletter{position:relative;background-color:#858585;padding:70px 16px}
.newsletter:before{content:"";position:absolute;top:0;left:0;width:100%;height:5px;background-image:-webkit-gradient(linear,left top,right top,from(#f60),to(#ffa940));background-image:-o-linear-gradient(left,#f60 0%,#ffa940 100%);background-image:linear-gradient(90deg,#f60 0%,#ffa940 100%)}
.newsletter h2{font-size:30px;font-weight:700;color:#fff;letter-spacing:0;line-height:1.5625rem}
.newsletter p{color:#fff;font-size:18px;line-height:24px;margin:30px 0 13px}
.newsletter form{margin-top:20px}
.newsletter input{width:100%;border-radius:5px;background:#fff;line-height:24px;padding:0 20px;height:40px;font-size:1rem;border:1px solid #cdcdcd}
.newsletter .primary{padding:10px 15px;font-size:.875rem;width:100%;height:20px}

/* Footer */
footer{background-color:#fff}
.footer_top_links{list-style:none;padding:0}
.footer_top_links li{padding:1rem 1.0625rem;border-bottom:.0625rem solid #cdcdcd}
.footer_top_links li a{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;font-size:.875rem;letter-spacing:0;line-height:1.25rem;font-weight:700}
.footer_top_links li a span{border-radius:50%;height:18px;width:18px;background-color:#ff8c00;position:relative;color:#fff}
.footer_top_links li a span:before{content:'';position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);height:8px;width:2px;background-color:#fff}
.footer_top_links li a span:after{content:'';position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);height:2px;width:8px;background-color:#fff}

.footer_middle{padding:1.25rem .9375rem}
.footer_widget{margin-top:.875rem}
.footer_label{font-weight:700;font-size:.875rem;letter-spacing:0;line-height:1.25rem}
.footer_link{font-size:.875rem;letter-spacing:0;line-height:1.875rem}
.footer_paragraph{font-size:.875rem;letter-spacing:0;line-height:1.25rem;font-weight:600;padding:.3125rem 0 0}
.footer_apps{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;gap:10px;margin-top:.25rem}
.footer_apps a{-ms-flex-preferred-size:100%;flex-basis:100%}
.footer_address{font-size:.875rem;letter-spacing:0;line-height:1.875rem}
.footer_award{margin-top:10px}
.footer_socials{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;gap:20px;margin-top:4px}
.footer_socials a{display:-webkit-box;display:-ms-flexbox;display:flex}
.footer_socials a i{color:#333;font-size:24px}


.footer_bottom{border-top:.0625rem solid #cdcdcd;padding:1.25rem 1.0625rem}
.footer_bottom li a{font-size:.875rem;letter-spacing:0;line-height:1.25rem}
.locales,.footer_bottom_links{list-style:none;padding:0;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}
.locales li:not(:last-child){border-right:.0625rem solid #cdcdcd;padding-right:1.25rem}
.locales li:not(:first-child){padding-left:1.25rem}
.locales li a{color:gray}
.locales li a.active{color:#303030}
.footer_logo{height:20px}
.footer_bottom_links{margin-left:-30px}
.footer_bottom_links li{margin-top:1.5rem;margin-left:1.875rem;height:1.25rem}

/* Modal */
.modal{position:fixed;top:0;left:0;width:100%;z-index:10;outline:none;height:100vh;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.modal_overlay{top:0;left:0;width:100%;height:100vh;z-index:1042;overflow:hidden;position:fixed;background:#333;opacity:.6}
.modal_content{position:relative;display:inline-block;vertical-align:middle;text-align:left;z-index:1045;margin:0 auto;border-top:5px solid #ff8c00;border-radius:5px;overflow:hidden;max-width:650px;width:20rem;background-color:#fff;padding:2.1875rem .9375rem 1.875rem}
.modal_close{position:absolute;top:15px;right:22px}
.modal_close i{font-size:19px}
.modal_content h3{font-size:1.375rem;font-weight:600;line-height:1.875rem}
.modal_content p{color:gray;font-size:14px;line-height:25px;margin-top:15px}
.modal_content .primary{font-size:16px;font-weight:600;line-height:50px;width:100%;padding:0}
.modal_link{display:block;font-size:14px;font-weight:600;text-align:center;color:gray;margin-top:25px;text-decoration:underline}
.line_text{position:relative;text-align:center;margin-top:20px}
.line_text:before,.line_text:after{content:"";position:absolute;height:1px;top:50%;width:calc(50% - 1.875rem);-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);border-bottom: 0.0625rem solid #cdcdcd;}
.line_text:before{left:0}
.line_text:after{right:0}
.modal_list{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;gap:15px;list-style:none;max-width:90%;margin:20px auto 0;padding-left:24px}
.modal_list li{position:relative;font-size:14px;color:gray;font-weight:600}
.modal_list li i{position:absolute;top:4px;left:-24px;color:#0068b2}
.blue_btn{position:relative;background-color:#0068b2;color:#fff;font-weight:600;display:-ms-flexbox;display:-webkit-box;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:8px .9375rem;font-size:1rem;min-height:50px;width:100%;height:auto;margin-top:15px;border-radius: 4px;}
.blue_btn i{position:absolute;left:15px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);color:#fff;font-size:22px}

/* Login modal */
.form_item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin-top:1.25rem}
.form_item label{font-size:.875rem;font-weight:700;font-family:"OpenSans",sans-serif;color:#333;letter-spacing:0;line-height:1.25rem}
.form_item input{margin-top:6px;border-radius:5px;background:#fff;line-height:24px;padding:0 20px;height:50px;font-size:1rem;border:1px solid #cdcdcd;font-family:"OpenSans",sans-serif}
.password_label{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;position:relative}
.password_label a{color:gray;font-size:.875rem;text-decoration:none}
.form_item_check{margin-top:1.25rem;display:-webkit-box;display:-ms-flexbox;display:flex;gap:15px}
.form_item_btn{margin:20px 0}
.form_item_btn button{width:100%;max-width:290px;padding:13px 30px;border:none;background-color:#ff8c00;border-radius:4px;color:#fff;cursor:pointer;min-height:24px;line-height:24px;font-size:1em;font-weight:600}
.form_item_link a{text-decoration:none;display:block;line-height:3.125rem;text-align:center;font-size:1rem;font-weight:600;color:#ff8c00;font-family:"OpenSans",sans-serif;margin-bottom:1.25rem}
input#login-modal__checkbox{width:16px}
.form_item_check input[type='checkbox']{accent-color:#54ba53}
.password_label::before{font-family:"Font Awesome 6 Free";color:#cdcdcd;position:absolute;right:15px;top:45px;content:"\f06e"}

/* Login page */
.login_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-top: 5px solid #ff8c00;
}
.header_bacK_link span{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #808080;
    font-size: 14px;
}
.header_bacK_link i{
    font-size: 14px;
    color: #808080;
    margin-left: 2px;
}
.login_header_logo{
    display: flex;
}
.login_bg{
    position: relative;
    height: 100%;
    min-height: 100px;
    margin: 0 -15px;
    background-image: url("https://login.supercard.ch/cas/svg/supercard_header.svg");
    background-position: center center;
}
.login_content_section{
    background-color: #fff;
}
.login_page_content {
    margin: 0 auto;
    border-radius: 5px;
    max-width: 320px;
    width: 100%;
    padding: 40px 15px 35px;
}

.login_page_content h3 {
    font-size: 21px;
    line-height: 1.5;
    padding: 0;
    font-weight: 600;
    margin-bottom: 25px;
}
.login_page_content > p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
}
.login_page_inputs {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.main_input{
    font-size: 16px;
    font-weight: normal !important;
    display: block;
    width: 100%;
    height: 43px;
    border-radius: 6px;
    border: 1px solid #a5a5a5;
    box-shadow: none !important;
    outline: none;
    padding: 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.main_input::placeholder{
    color: #a5a5a5;
}
.password_reset {
    display: block;
    font-size: 14px;
    color: #333333;
    text-decoration: underline;
    margin-top: 25px;
}
.gray_btn{
    font-size: 16px;
    width: 100%;
    min-height: 50px;
    line-height: 1.5;
    padding: 15px 5px 15px 5px;
    margin: 10px 0 15px 0;
    border: none;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease all;
    font-weight: normal;
    white-space: normal !important;
    -webkit-appearance: none;
    color: #a5a5a5;
    background: #dbdbdb;
}
.supercard-checked input[type='checkbox'] {
    accent-color: rgb(0, 104, 177);
}
.password-vergessen {
    font-size: 14px;
    color: #333333;
    text-decoration: underline;
    padding: 25px 0 0;
}
.login_bottom_link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 16px;
    color: rgba(0, 104, 178, 1.0);
    font-weight: 600;
}

.login_bottom_link i{
    font-size: 20px;
    color: #a5a5a5;
}

/* Login process step */
.login_process_step{
    font-size: 13px;
    padding: 15px 0;
    text-align: center;
    color: #333333;
    background: #f2f2f2;
}

/* Login infobox */
.login_infobox{
    background: red;
    color: #ffffff;
    background: rgba(0, 104, 178, 1.0);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 16px;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.login_infobox p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.login_footer .footer_bottom_links{
    justify-content: space-between;
}